.newsPage {
    display: flex;
    min-height: 80vh;
}

.storiesBlock {
    flex-grow: 1;
}

.formBlock {
    flex-grow: 2;
    background: var(--bg-modal);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--bg-modal) 20%, var(--bg-modal) 80%, rgba(0, 0, 0, 0) 100%);
    flex-basis: 375px;
    padding: 50px 0;
}

.from {

}

.notCollapse {
    flex-shrink: 0;
}