.InputFile {

}

.input {
    display: none;
}

.label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /*border: 1px solid var(--grey);*/
    border-radius: 6px;
    padding: 0 20px;
    background: var(--primary-color);
    color: var(--light-text-color);
}

.innerLabel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label:hover {
    background: var(--primary-color-hover);
}

.label:active {
    box-shadow: -1px 4px 10px -1px rgba(0, 0, 0, 0.25) inset;
}

.label:active span {
    transform: scale(0.99);
}